*{
    margin: 0px;
    padding: 0px;
}

#login{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;

}
#register{
    border: 1px solid black;
    width: 250px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}
#register input{
    display: block;
}
header{
    border-bottom: 3px solid black;
    margin-bottom: 15px;
}
h1{
    display: inline-block;
}
h3 {
    display: inline-block;
    margin-left: 700px;
    vertical-align: top;
}
#logout {
    width: 100px;
    height: 25px;
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
}
.comment{
    width: 600px;
    margin-left: 95px;
}
.message{
    width: 600px;
    vertical-align: top;
    margin-bottom: 5px;
    margin-left: 60px;
}
.commusername{
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
}
form {
    margin-bottom: 10px;
}
.messusername{
    margin-left: 40px;
    margin-top: 30px;
}
.commentform{
    margin-left: 120px;
    margin-top: 20px;
}